body {
    background-color: rgb(184, 248, 224);
    margin: 25px;
}

hr {
    filter: drop-shadow(8px 8px 4px rgb(10, 10, 10));
}

h1 {
    background-color: black;
    color: #eeeeee;
    height: 100px;
    display: block;
    text-align: center;
    padding-top: 10px;
}

.eletronicos .imagem {
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.assets {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    filter: drop-shadow(8px 8px 4px rgb(8, 2, 2));
}

div {
    margin-top: 10px;
    font-weight: 800px;
}

#destaque {
    position: absolute;
    width: 250px;
    height: 100px;
    float: left;
    margin-top: 0px;
}

h3 {
    color: rgb(9, 9, 151);
    filter: drop-shadow(8px 8px 4px rgb(8, 2, 2));
}

a {
    text-decoration: none;
    color: rgb(4, 4, 233);
    filter: drop-shadow(8px 8px 2px black);
}

nav {
    display: flex;
    justify-content: space-around;
}

.rodape {
    color: #0c0b0b;
    border-top: 1px solid #eeeeee;
    text-align: center;
    height: 20px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
}
input {
    filter: drop-shadow(8px 8px 2px rgb(134, 123, 123));  
}