body {
    background-color: rgb(188, 241, 183);
    margin: 25px;
}

#destaque {
    position: absolute;
    width: 250px;
    height: 80px;
}

header {
    padding: 0%;
    background-color: black;
    color: #f7f1f1;
    height: 80px;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 8px 8px 4px #393b3a;
    background-image: linear-gradient(45deg, black, rgb(94, 199, 94));
}

hr {
    box-shadow: 8px 8px 4px #393b3a;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
    filter: drop-shadow(8px 8px 4px rgb(8, 2, 2));
}

a {
    text-decoration: none;
    color: blue
}

input {
    margin: 20px;
    filter: drop-shadow(8px 8px 2px rgb(134, 123, 123));
}

h1 {
    margin: 25px;
    color: rgb(9, 9, 151);
    filter: drop-shadow(8px 8px 4px rgb(8, 2, 2));
}

.eletronicos .imagem {
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.assets {
    gap: 15px;
    width: 94%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    filter: drop-shadow(8px 8px 4px rgb(173, 170, 170));
}

div {
    margin-top: 10px;
    font-weight: 800px;
    filter: drop-shadow(8px 8px 4px rgb(39, 24, 24));
}

.rodape {
    color: #0c0b0b;
    border-top: 1px solid #eeeeee;
    text-align: center;
    height: 20px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    filter: drop-shadow(8px 8px 2px black);
}